<!DOCTYPE html>
<html>
<head>
  <title>BlogAlpha</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<%= render 'layouts/navigation' %>
<%= render 'layouts/messages' %>
<div class="container-fluid" id="footer-spacing">
  <%= yield %>

  <!-- For Debug -->
  <%= debug(params) if Rails.env.development? %>
</div>

<%= render 'layouts/footer' %>
</body>

</html>
